<div class="d-flex align-center">
    <MudLink Href="/" Underline="Underline.None">
        <MudImage Src="svg/tabajaras-logo.svg" Alt="Tabajaras" Height="36" ObjectFit="ObjectFit.Contain" Style="cursor: pointer;" />
    </MudLink>
</div>